openapi: 3.1.0
info:
  title: API to Calculate Intrinsic Value of a Stock using EPS
  description: API to calculate the Discounted Cash Flow intrinsic value and margin of safety price of a stock using EPS.
  version: 1.0.0
servers:
  - url: https://m4th.com/.netlify/functions/calculateUsingEPS
paths:
  /:
    get:
      operationId: calculateEPSIntrinsicValue
      summary: Calculate Intrinsic Value based on EPS
      description: Returns the intrinsic value and margin of safety price based on EPS.
      parameters:
        - in: query
          name: sharePrice
          required: true
          schema:
            type: string
          description: The current share price of the stock.
        - in: query
          name: eps
          required: true
          schema:
            type: string
          description: The earnings per share of the stock.
        - in: query
          name: growthRate
          required: true
          schema:
            type: string
          description: The expected growth rate of the stock.
        - in: query
          name: terminalGrowthRate
          required: true
          schema:
            type: string
          description: The terminal growth rate of the stock.
        - in: query
          name: discountRate
          required: true
          schema:
            type: string
          description: The discount rate to be used in the calculation.
        - in: query
          name: marginOfSafety
          required: true
          schema:
            type: string
          description: The margin of safety to be used in the calculation.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  intrinsic_value:
                    type: number
                    description: The intrinsic value of the stock.
                  margin_of_safety_price:
                    type: number
                    description: The margin of safety price of the stock.
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
        '500':
          description: Calculation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
